#myButton {
  background: grey;
  padding: 25px;
  max-width: 200px;
  margin: auto;
}

.resizehandle {
  background: transparent url("http://www.jquery.info/images/resizer.png")
    no-repeat scroll 45%;
  cursor: s-resize;
  font-size: 0.1em;
  height: 16px;
  width: 100%;
}

[hidden] {
  display: none;
}

.container_article {
  width: 100%;
  height: 300px;
  background: grey;
}

.site-width {
  max-width: 1000px;
  margin: auto;
}

.section_article {
  margin: 10px;
  width: 150px;
  height: 200px;
  float: left;
  background: red;
}
